<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find type2_D_ZCBFs)/move_obstacles_avoidence/worlds/mix_obs.world"/>
    <!-- <arg name="world_name" value="/home/qun/turtlebot3_realsensed435i/src/sod_avoidence/daten_analyse/previous_environments/one_obstacle/one_obs.world"/> -->
    <!-- <arg name="world_name" value="/home/qun/turtlebot3_realsensed435i/src/sod_avoidence/daten_analyse/previous_environments/five_obstacles/five_obs.world"/> -->
    <!-- <arg name="world_name" value="/home/qun/turtlebot3_realsensed435i/src/sod_avoidence/daten_analyse/previous_environments/ten_obstacles/ten_obs.world"/> -->
    <!-- <arg name="world_name" value="/home/qun/turtlebot3_realsensed435i/src/sod_avoidence/daten_analyse/previous_environments/twenty_one_obstacles/twenty_one_obs.world"/> -->
    <arg name="paused" value="false"/> 
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
 

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>
